@model IEnumerable<NHospital.Models.Medico>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Exequatur)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Especialidad)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            <a href="/Exequatur/@item.Exequatur">Exequatur</a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Especialidad)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdMedico }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdMedico }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdMedico })
        </td>
    </tr>
}

</table>
