@model NHospital.Models.Alta

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Alta</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.IdIngreso, "Codigo de Ingreso", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.IdIngreso, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IdIngreso, "", new { @class = "text-danger" })
                
                @if (ViewBag.NoExisteIngreso)
                {
                    @Html.ValidationMessage("IdIngreso","El ingreso no existe", new { @class="text-danger"})
                    ViewBag.NoExisteIngreso = false;
                }

                @if (ViewBag.IngresoYaDespachado)
                {
                    @Html.ValidationMessage("IdIngreso","Este ingreso ya ha sido despachado", new {@class="text-danger"})
                    ViewBag.IngresoYaDespachado = false;
                }

             



            </div>
        </div>

        <div class="form-group">
            @Html.Label("Fecha de Salida", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FechaSalida, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FechaSalida, "", new { @class = "text-danger" })

                @if (ViewBag.FechaMenorQueIngreso)
                {
                    @Html.ValidationMessage("FechaSalida", "La fecha introducida es menor que la fecha de ingreso", new { @class = "text-danger" })
                    ViewBag.FechaMenorQueIngreso = false;
                }


            </div>
        </div>

       

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Siguiente" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
