@model NHospital.Models.Alta

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Alta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ingreso.IdIngreso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ingreso.IdIngreso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaSalida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaSalida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MontoTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MontoTotal)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdAlta }) |
    @Html.ActionLink("Back to List", "Index")
</p>
