@model IEnumerable<NHospital.Models.Alta>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create") |
    <input type="button" value="Export to PDF" onclick="exportToPdf();" />
</p>
<table class="table" id="tablon">
    <tr>
        <th>
            @Html.DisplayName("Codigo de Ingreso")
        </th>

        <th>
            @Html.DisplayName("Paciente")
        </th>


        <th>

            @Html.DisplayName("Fecha de entrada")
        </th>

        <th>
            @Html.DisplayName("Fecha de salida")
        </th>
        <th>

            @Html.DisplayName("Monto total")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ingreso.IdIngreso)
            </td>


            <td>
                @Html.DisplayFor(modelItem => item.Ingreso.Paciente.Nombre)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Ingreso.FechaIngreso)
            </td>


            <td>
                @Html.DisplayFor(modelItem => item.FechaSalida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MontoTotal)
            </td>
            <td>
                <!--- // @Html.ActionLink("Edit", "Edit", new { id = item.IdAlta }) |-->
                <!-- @Html.ActionLink("Details", "Details", new { id = item.IdAlta }) |-->
                @Html.ActionLink("Delete", "Delete", new { id = item.IdAlta })
            </td>
        </tr>
    }

</table>


@using (Html.BeginForm()) // VALIDAR!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
{

    <h2>Buscar por:</h2>

    <br />


    <div>


        @Html.RadioButton("radio", "Fecha", true, new { onclick = "activarFecha();" })

        @Html.Label("Fecha de salida")
        @Html.TextBox("fecha", "", new { id = "fecha", @class = "form-control" })

        @if (ViewBag.DateError)
        {
            @Html.ValidationMessage("fecha", "La fecha esta en formato incorrecto", new { @class = "text-danger" });
        }


    </div>

    <br />


    <div>


        @Html.RadioButton("radio", "Paciente", new { onClick = "activarPaciente();" })
        @Html.Label("Codigo de paciente")
        @Html.TextBox("paciente", "", new { disabled = true, id = "paciente", @class = "form-control" })

        @if (ViewBag.CodigoPacienteError)
        {
            @Html.ValidationMessage("paciente", "El valor introducido no es valido", new { @class = "text-danger" });
        }


    </div>

    <br />



    <br />

    <input type="submit" value="Consultar" />



    <script>

        var txtPaciente = document.getElementById("paciente");
        var txtFecha = document.getElementById("fecha");





        var radio = "@ViewBag.radio";


        if (radio == "Paciente") {
            txtPaciente.value = "@ViewBag.codigoPaciente";
            activarPaciente();
        }



        if (radio == "Fecha") {
            txtFecha.value = "@ViewBag.fechaSalida";
            activarFecha();
        }





        



           function activarPaciente() {

            txtPaciente.disabled = false;
         
            txtFecha.disabled = true;


        }


          function activarFecha() {

            txtPaciente.disabled = true;
          
            txtFecha.disabled = false;


        }







    </script>

}
