@model NHospital.Models.Habitacion

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Habitacion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Tipo")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoHabitacion.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Numero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Numero)
        </dd>

        <dt>
            @Html.DisplayName("Precio(RD$)")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Precio)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdHabitacion }) |
    @Html.ActionLink("Back to List", "Index")
</p>
