@model NHospital.Models.Cita

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Cita</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayName("Codigo de cita")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdCita)
        </dd>


        <dt>
            @Html.DisplayName("Medico")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Medico.Nombre)
        </dd>

        <dt>
            @Html.DisplayName("Paciente")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Paciente.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdCita }) |
    @Html.ActionLink("Back to List", "Index")
</p>
