
@{
    ViewBag.Title = "Home";
}

<h1>Sistema de Gestion Hospitalario NHospital</h1>

<ul>
    <li>@Html.ActionLink("Pacientes", "Index", "Paciente")</li>
    <li>@Html.ActionLink("Medicos", "Index", "Medico")</li>
    <li>@Html.ActionLink("Cita", "Index", "Cita")</li>
    <li>@Html.ActionLink("Habitaciones","Index","Habitacion")</li>
    <li>@Html.ActionLink("Ingresos","Index","Ingreso")</li>
    <li>@Html.ActionLink("Altas Medicas","Index","Alta")</li>

</ul>

