@model NHospital.Models.Ingreso

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Ingreso</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Habitacion.Numero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Habitacion.Numero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Paciente.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Paciente.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaIngreso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaIngreso)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdIngreso }) |
    @Html.ActionLink("Back to List", "Index")
</p>
