@model IEnumerable<NHospital.Models.Ingreso>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Habitacion.Numero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Paciente.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaIngreso)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Habitacion.Numero)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Paciente.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaIngreso)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdIngreso }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdIngreso }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdIngreso })
        </td>
    </tr>
}

</table>
