@model IEnumerable<NHospital.Models.Paciente>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cedula)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Asegurado)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cedula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Asegurado)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.IdPaciente }) |
                @Html.ActionLink("Details", "Details", new { id = item.IdPaciente }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.IdPaciente })
            </td>
        </tr>
    }

</table>

<br />
<br />
<br />

@using (Html.BeginForm())
{

    <h2>Buscar por:</h2>

    <br />

    <div>
      
        
        @Html.RadioButton("radio","Nombre",new { onclick="activarNombre();"})
        @Html.Label("Nombre")
        @Html.TextBox("nombre","",new {disabled=true,id="nombre", @class="form-control"})
    </div>

    <br />
   

    <div>
        
        


        @Html.RadioButton("radio","Cedula",new { onClick="activarCedula();"})
        @Html.Label("Cedula")
        @Html.TextBox("cedula", "", new {disabled=true, id = "cedula", @class = "form-control" })
       
    </div>

    <br />
   


    <div>
        @Html.RadioButton("radio", "Asegurado", new { onclick = "activarAsegurado();" })
        @Html.Label("Asegurado")
        @Html.CheckBox("asegurado",false, new {disabled=true, id = "asegurado" })
       
    </div>

    <br />

    <input type="submit" value="Consultar" />


    <script>



       

        function activarNombre() {

            document.getElementById("nombre").disabled = false;
            document.getElementById("asegurado").disabled = true;
            document.getElementById("cedula").disabled = true;

              
        }


          function activarCedula() {

            document.getElementById("nombre").disabled = true;
            document.getElementById("asegurado").disabled = true;
            document.getElementById("cedula").disabled = false;

              
        }

           function activarAsegurado() {

            document.getElementById("nombre").disabled = true;
            document.getElementById("asegurado").disabled = false;
            document.getElementById("cedula").disabled = true;

              
            }



        

      
    </script>

}








